$primary-color: #e6ae48;
$bgcolor: #036;
$borde: solid 1px yellow;


header {
    display: flex;
    flex-direction: row;
}
.main-nav {
    display: flex;
    flex-direction: row;

    &__list {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    &__item {
        float: left;
    }
    &__link {
        display: block;
        color: #000;
        padding: 8px 16px;
        text-decoration: none;

        &:hover {
            color: $primary-color;
        }
    }
}
.button {
    border: none;
    border-radius: 6px;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    &.yellow {
        background-color: $primary-color;
        color: white;
    }
}
.logo {
    width: auto;
    height: 40px;
}