
:root {
    --ligthgreen: #f2feff;
    --grey: #c3cbcb;
    --darkgrey:#838383;
  }

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  body {
    font-family: sans-serif;
    background: #ffffff;
  }
  section {
      margin: 40px 80px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 10px;
      grid-auto-rows: minmax(100px, auto);
  }
  .header {
      background: var(--ligthgreen);
      display: flex;
      height: 260px;
      justify-content: center;
  }
  .header__container {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 700px;
  }
  .header__title {
      font-size: 3rem;
      padding: 1.2rem;
  }
  .header__subtitle {
      color: var(--grey);
      font-weight: 600;
      padding: 1.2rem;
      text-align: center;
  }
  .card{
      width: 360px;
      margin: 2rem 0;
  }
  .card__image {
      width: 360px;
      height: 260px;
      object-fit: cover;
      border-radius: 4%;
  }
  .card__title {
      margin: .8rem 0;
      background-color: var(--ligthgreen);
      font-size: .9rem;
      font-weight: 700;
      color: var(--darkgrey);
      height: 34px;
      padding: 8px 12px;
      border-width: 1px;
      border-style: solid;
      border-radius: 4px;
      border-color: rgb(206, 255, 239);
  }
  .card__subtitle {
      margin: 1.2rem 0;
      font-size: 1.1rem;
      font-weight: 600;
  }
  .card__copy {
      margin: .8rem 0;
      font-size: .8rem;
      font-weight: 600;
      color: var(--grey);
  }
  .card__footer {
  }
  .button {
    background-color: #00e87c;
    border: none;
    border-radius: 8px;
    color: black;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    padding: 15px 32px;
  }

  .main-nav {
    background: var(--ligthgreen);
    padding: 5px 20px;
  }
  .main-nav__link {
    color: black;
    text-decoration: none;
  }
  .main-nav__link:hover {
    text-decoration: underline;
  }
  .brand:hover {
    text-decoration: none;
  }
  .main-nav__item {
    font-size: 16px;
    padding: 15px 5px;
    white-space: nowrap;
  }
  .brand,
  .main-nav__item-toggle {
    font-size: 20px;
  }
  /* Mobile menu */
  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
  }
  .main-nav__item-toggle {
    order: 1;
  }
  .main-nav__item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
  }
  .main-nav__item.active {
    display: block;
  }
  /* Tablet menu */
  @media (min-width: 600px) {
    .main-nav__list {
      justify-content: center;
    }
    .brand {
      flex: 1;
    }
    .main-nav__item-toggle {
      flex: 1;
      text-align: right;
    }
    .main-nav__item-toggle {
      order: 2;
    }
  }
  /* Desktop menu */
  @media (min-width: 900px) {
    .main-nav__item {
      display: block;
      width: auto;
    }
    .main-nav__item-toggle {
      display: none;
    }
    .brand {
      order: 0;
    }
    .main-nav__link {
      order: 1;
    }
    .main-nav__list {
        display: flex;
        justify-content: space-around;
    }
  }